.page_bottom{
    width: 100%;
    /* height: 440px; */
    height: 250px;
    z-index: -1;
    position: fixed;
    bottom: 0%;
    overflow-y: hidden;
    overflow-x: hidden;
    display: block;
    background-color: linear-gradient(#9CEACA,rgb(0, 0, 0));
    img{
        animation: 5.3s backwards_snowflake infinite;
        position: relative;
        visibility: hidden;
    }
}
.page_bottom img:nth-of-type(4n) {
    /* using tree structural pseudoclasses to create randomness - https://developer.mozilla.org/en-US/docs/Web/CSS/:nth-of-type */
    height: 30px;
    width: 30px;
    transform-origin: right -30px;
  }
  .page_bottom img:nth-of-type(4n + 1) {
    height: 24px;
    width: 24px;
    transform-origin: left 30px;
  }
  .page_bottom img:nth-of-type(4n + 2) {
    height: 10px;
    width: 10px;
    transform-origin: -30px 0;
  }
  .page_bottom img:nth-of-type(4n + 3) {
    height: 40px;
    width: 40px;
    transform-origin: -50px 0;
  }
  .page_bottom img:nth-of-type(4n) {
    animation-duration: 5.3s;
    transform-origin: -10px -20px;
  }
  .page_bottom img:nth-of-type(4n + 1) {
    animation-duration: 3.1s;
    transform-origin: 10px -20px;
  }
  .page_bottom img:nth-of-type(4n + 2) {
    animation-duration: 1.7s;
    transform-origin: right -20px;
  }
  .page_bottom img:nth-of-type(3n) {
    animation-delay: 2.3s;
  }
  .page_bottom img:nth-of-type(3n + 1) {
    animation-delay: 1.5s;
  }
  .page_bottom img:nth-of-type(3n + 2) {
    animation-delay: 3.4s;
  }
  .page_bottom img:nth-of-type(5n) {
    animation-timing-function: ease-in-out;
  }
  .page_bottom img:nth-of-type(5n + 1) {
    animation-timing-function: ease-out;
  }
  .page_bottom img:nth-of-type(5n + 2) {
    animation-timing-function: ease;
  }
  .page_bottom img:nth-of-type(5n + 3) {
    animation-timing-function: ease-in;
  }
  .page_bottom img:nth-of-type(5n + 4) {
    animation-timing-function: linear;
  }
  .page_bottom img:nth-of-type(11n) {
    animation-timing-function: cubic-bezier(0.2, 0.3, 0.8, 0.9);
  }
  .page_bottom img:nth-of-type(7n) {
    opacity: 0.5;
  }
  .page_bottom img:nth-of-type(7n + 2) {
    opacity: 0.3;
  }
  .page_bottom img:nth-of-type(7n + 4) {
    opacity: 0.7;
  }
  .page_bottom img:nth-of-type(7n + 6) {
    opacity: 0.6;
    animation-timing-function: ease-in;
    transform-origin: left 10px;
  }
  .page_bottom img:nth-of-type(7n + 1) {
    opacity: 0.8;
  }
@keyframes backwards_snowflake {
    100% {
      transform: translate(50px, 200px)scale(0.0, 0.0) rotate(0.5);
      opacity: 0%;
      visibility: visible;
    }
    50%{
        transform: translate(50px, 150px) rotate(360deg) scale(0.5, 0.5);
        visibility: visible;
    }
    0% {
      transform: translate(15px, 300px) scale(1.1, 1.1);
      visibility: visible;
    }
  }
  